body{
    margin: 0;
    font-family: 'lato';
}

/*Main content with Background image*/
.main{

  background-image: url(/img/Astrophotography/img_0159.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;

}


img{
  height: 100%;
  width: 100%;
}

/*Fixed Header bar start*/

.header{
    position: fixed;
    z-index: 901;
    top: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: #fff;  
    height: 100px;
    width: 100vw;
    border-bottom: 1px solid rgb(58, 58, 45);
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Hamburger menu*/

.menu-icon {
  display: grid;
  place-items: center;
  height: 15px;
  width: 20px;
  cursor: pointer;

}

.menu-icon span {
  width: 20px;
  height: 2px;
  background: rgb(0, 0, 0);
  display: block;
}

.line{
width: 100%;
}

.menu{
    display: flex;
    margin-left: 20px;
    max-width: 400px;
}

.name{
    display: flex;
    margin-left: 20px;
    max-width: 400px;
    color: rgb(58, 58, 45);
    font-size: 12px;
}

/*side nav*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(243, 243, 243);
  border-right: 1px solid rgb(58, 58, 45); 
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/*main content*/

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 60vw;

}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 80%;
  max-width: 800px;
  width: 60vw;
  text-align: center;
}

.main-content h1{
  color: white;
  font-size: 60px;
}


.container p{
  color: white;
  font-size: 40px;
  t
}



/*Media queries*/

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*Fixed footer*/
.footer{
    position: fixed;
    z-index: 901;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(58, 58, 45);
    text-align: left;
    border-top: 1px solid rgb(58, 58, 45);
    background-color: white;

  }

p{
  margin-left: 20px;
}